<div class="audio-file-formatter">
  {# Render the audio file here. This example assumes the file URL is being passed in the 'file_url' variable. #}
  <audio controls>
    <source src="{{ file_url }}" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
  {# You can add more elements or classes as needed. #}
</div>
